<div *ngIf="!isEditable" class="card-container">
    <div class="card card-small" tabindex="0">
        <h3>{{note.title}}</h3>
        <p>{{note.description}}</p>
    </div>
    <button class="x-button" (click)="deleteNote(note.id)">X</button>
    <button class="edit-button" (click)="isEditable=true"><img src="edit.svg" width="15"></button>
    <button class="view-button" (click)="viewselectedNote()">View</button>
</div>

<div *ngIf="isEditable" class="card-container">
    <div class="card card-small" tabindex="0">
        <h3><input #heading type="text" placeholder="Title" value="{{note.title}}"></h3>
        <p>Description<br>
            <textarea #desc id="desc" name="desc" placeholder="Description" value="{{note.description}}" rows="4" cols="50"></textarea>
        </p>
    </div>
    <button class="save-button" (click)=saveEditedNote(heading.value,desc.value)>Save</button>
</div>