<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="username">User Name<span class="error">*</span></label>
            <input type="text" name="username" id="username" class="form-control" formControlName="userName">
            <p class="error" *ngIf="loginForm.controls.userName.errors?.required && loginForm.controls.userName.dirty">
                User Name is required.</p>
            <p class="error" *ngIf="loginForm.controls.userName.errors?.minlength && loginForm.controls.userName.dirty">
                User Name must be of minimun 5 characters.</p>
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password<span class="error">*</span></label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password">
            <p class="error" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">
                password is required.</p>
            <p class="error" *ngIf="loginForm.controls.password.errors?.minlength && loginForm.controls.password.dirty">
                password must be of minimun 8 characters.</p>

        </div><br>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button><br>
        <p *ngIf="loginError" class="error">User does not exist.</p>
        If not a user! <a [routerLink]="['/register']">Register here.</a>
    </form>
</div>