<div class="register-form">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="firstName">First Name<span class="error">*</span></label>
            <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName">
            <p class="error"
                *ngIf="registerForm.controls.firstName.errors?.required && registerForm.controls.firstName.dirty">First
                Name is required.</p>
        </div>
        <br>

        <div class="form-group">
            <label for="lastName">Last Name<span class="error">*</span></label>
            <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName">
            <p class="error"
                *ngIf="registerForm.controls.lastName.errors?.required && registerForm.controls.lastName.dirty">Last
                Name is required.</p>
        </div><br>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email">
            <p class="error" *ngIf="registerForm.controls.email.errors?.email && registerForm.controls.email.dirty">
                Enter valid email address.</p>
        </div><br>

        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="number" name="contact" id="contact" class="form-control" formControlName="contact">
            <p class="error"
                *ngIf="registerForm.controls.contact.errors?.pattern && registerForm.controls.contact.dirty">Enter valid
                conatct number.</p>
        </div><br>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" class="form-control" formControlName="address">
        </div><br>

        <div class="form-group">
            <label for="userName">User Name<span class="error">*</span></label>
            <input type="text" name="userName" id="userName" class="form-control" formControlName="userName">
            <p class="error"
                *ngIf="registerForm.controls.userName.errors?.required && registerForm.controls.userName.dirty">User
                Name is required.</p>
            <p class="error"
                *ngIf="registerForm.controls.userName.errors?.minlength && registerForm.controls.userName.dirty">User
                Name must be of minimun 5 characters.</p>
        </div><br>

        <div class="form-group">
            <label for="password">Password<span class="error">*</span></label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password">
            <p class="error"
                *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.dirty">Password
                is required.</p>
            <p class="error"
                *ngIf="registerForm.controls.password.errors?.minlength && registerForm.controls.password.dirty">
                Password must be of minimun 8 characters.</p>
        </div><br>

        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
        <p class="success" *ngIf="registered">Successfully registered. Please click on login to continue.</p>
        <p class="error" *ngIf="userExist">Username already exist. Provide different username.</p>
    </form>
</div>